<div class="card" style="margin-bottom: 20px;">
    <div class="card-body">
          
            
            <span class="titulo-secundario">Mec&aacute;nicos</span>
            <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
                <div class="row form-group">  
                <div class="col-lg-6 col-md-6 col-xs-12 form-group">
                    <label for="tipoDocumento"> Tipo Documento</label>
                    <select class="form-control" formControlName="tipoDocumento" [ngClass]="{ 'is-invalid': submitted && f.tipoDocumento.errors }">
                        <option value="">Seleccionar</option>
                        <option value="cc">C&eacute;dula de Ciudadan&iacute;a</option>
                        <option value="ti">Tarjeta de Identidad</option>
                        <option value="ce">C&eacute;dula de Extranjer&iacute;a</option>
                    </select>
                    <div *ngIf="submitted && f.tipoDocumento.errors" class="invalid-feedback">
                        <div *ngIf="f.tipoDocumento.errors.required">Seleccione el Tipo de Documento</div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12 form-group">
                    <label>N&uacute;mero de Documento</label>
                    <input type="text" formControlName="documento" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.documento.errors }" />
                    <div *ngIf="submitted && f.documento.errors" class="invalid-feedback">
                        <div *ngIf="f.documento.errors.required">Ingrese el N&uacute;mero de Documento</div>
                    </div>
                </div> 
                <div class="col-lg-6 col-md-6 col-xs-12 form-group">
                    <label>Primer Nombre</label>
                    <input type="text" formControlName="primerNombre" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.primerNombre.errors }" />
                    <div *ngIf="submitted && f.primerNombre.errors" class="invalid-feedback">
                        <div *ngIf="f.primerNombre.errors.required">Ingrese el Primer Nombre</div>
                    </div>
                </div>  
                <div class="col-lg-6 col-md-6 col-xs-12 form-group">
                    <label>Segundo Nombre</label>
                    <input type="text" formControlName="segundoNombre" class="form-control" />
                </div>    
                <div class="col-lg-6 col-md-6 col-xs-12 form-group">
                    <label>Primer Apellido</label>
                    <input type="text" formControlName="primerApellido" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.primerApellido.errors }" />
                    <div *ngIf="submitted && f.primerApellido.errors" class="invalid-feedback">
                        <div *ngIf="f.primerApellido.errors.required">Ingrese el Primer Apellido</div>
                    </div>
                </div>  
                <div class="col-lg-6 col-md-6 col-xs-12 form-group">
                    <label>Segundo Apellido</label>
                    <input type="text" formControlName="segundoApellido" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.segundoApellido.errors }" />
                    <div *ngIf="submitted && f.segundoApellido.errors" class="invalid-feedback">
                        <div *ngIf="f.segundoApellido.errors.required">Ingrese el Segundo Apellido</div>
                    </div>
                </div>               
                <div class="col-lg-6 col-md-6 col-xs-12 form-group">
                    <label>Email</label>
                    <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">El email es obligatorio</div>
                        <div *ngIf="f.email.errors.email">Ingrese el Email</div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12 form-group">
                    <label>Direcci&oacute;n</label>
                    <input type="text" formControlName="direccion" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.direccion.errors }" />
                    <div *ngIf="submitted && f.direccion.errors" class="invalid-feedback">
                        <div *ngIf="f.direccion.errors.required">Ingrese la Direcci&oacute;n</div>
                    </div>
                </div> 
                <div class="col-lg-6 col-md-6 col-xs-12 form-group">
                    <label>Celular</label>
                    <input type="text" formControlName="celular" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.celular.errors }" />
                    <div *ngIf="submitted && f.celular.errors" class="invalid-feedback">
                        <div *ngIf="f.celular.errors.required">Ingrese N&uacute;mero de Celular</div>
                    </div>
                </div> 
                <div class="col-12 form-group">
                    <button class="btn btn-primary">Guardar</button>
                </div>
                </div>
            </form>
         
    
    </div>
</div>
