<div class="card" style="margin-bottom: 10px;">
    <div class="card-body">
        <div class="row">    
            <div class="col-md-12 mt-5">
                <span class="titulo-secundario">Veh&iacute;culo</span>
                <div class="form-group">
                    <label>Placa Vehiculo:&nbsp;</label>
                    <input type="text" value="123ABC"> 
                    <button type="submit"><i>Buscar</i></button>
                </div>
                <label>Marca: </label><br>
                <label>Color: </label><br>
                <label>Identificaci&oacute;n Propietario: </label><br>
                <label>Nombre Propietario: </label>
            </div>
        </div>
    </div>
</div>